<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE autotest [
   <!ENTITY testsuite_config SYSTEM "../config/testsuite_config_L2.xml">
]>

<integrationtest xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www-app.hi.de.bosch.com/hi-cm-datastore/xsd/autotest.xsd">

   <!-- First include variant configurations -->
   &testsuite_config;

   <thisdocument>
      <shortdescription>Preconditions for all TTFIS SPI related tests</shortdescription>
      <author>Onur Ozdogan (CM-AI/ECD1)</author>
      <project>G3g</project>
      <date>09.01.2015</date>

      <keyword>$(KEYWORD)</keyword>
      <version majorversion="0" minorversion="0" patchversion="1"/>
      <documentmanagement>ClearCase</documentmanagement>   
   </thisdocument>

   <testenvironment>
      <name>PC with TML 1.6.6.0, ATS 2.826, TTFIS 4.1</name>
   </testenvironment>

   <introduction>
      <section>
         <headline>Preconditions for all SPI related tests</headline>
         <text>This file holds interactive steps for all manual preconditions which can not be done by the test cases.</text>
      </section>
   </introduction>

   <precondition>
      <!-- Usually preconditions will not need TTFIS connection -->
      <connectstep device="gen3flex@dlt" interface="TTFIS" action="disconnect"/>
   </precondition>

   <test name="precondition_spi">
      <description>
         <content>
            <headline>This is the implementation for all SPI related tests.</headline>    
         </content>
      </description>

      <!-- Actual test flow starts from here  -->
      <testflow>
         <interactivestep header="precondition spi" config="YESNO" return="res">Please check the following:
- Is a MirrorLink capable phone available and ready to connect to the head unit (eg:Suzuki) with a micro USB cable?

- If the head unit has one USB port, then use a USB hub in order to connect to both TML setup and the phone at the same time.

- If using a ML 1.1 phone (eg. HTC One M8, Sony Z3...), please set system date and time on the head unit before connecting the phone, using PuTTY.

- After every reboot, system date and time setting MUST be done. Make sure to disconnect and reconnect ML phone after reboot and system date and time are set.

- If using a ML 1.0 phone (eg. Nokia N9, Nokia 701, Samsung Galaxy S3...), then system date and time setting step can be skipped. 

Now do the following: 
1. Connect the MirrorLInk phone to the target
2. Assure it shows up as connected with BOTH Bluetooth AND MirrorLink
3. Press the CarMode icon on the smartphone
4. On the Head Unit enter MirrorLink and Car Mode projection screen
5. Now the same icons shall be shown on BOTH the smartphone display AND the Head Unit display 

Now you are ready to continue and run the TML tests
         </interactivestep>

         <paramverifystep>
            <eval>*{res}=="IDYES"</eval>
         </paramverifystep>	   
      </testflow>
   </test>
</integrationtest>