<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE autotest [
   <!ENTITY testsuite_config      SYSTEM "../../config/testsuite_config_L3.xml">

   <!ENTITY lib.common            SYSTEM "../../../../../../../../../ai_sw_test/testsuites/BVT/lib/common/common.lml">
   <!ENTITY preconditions.general SYSTEM "../../../../../../../../../ai_sw_test/testsuites/BVT/lib/preconditions/preconditions.general.lml">
   <!ENTITY endconditions.general SYSTEM "../../../../../../../../../ai_sw_test/testsuites/BVT/lib/endconditions/endconditions.general.lml">
   <!ENTITY endconditions.failure SYSTEM "../../../../../../../../../ai_sw_test/testsuites/BVT/lib/endconditions/endconditions.failure.lml">

   <!ENTITY lib.midw_spi_fi SYSTEM    "../../lib/lib.midw_smartphoneint_fi.lml">
   <!ENTITY lib.midw_spi_fiExt SYSTEM "../../lib/lib.midw_smartphoneint_fiExt.lml">
   <!ENTITY lib.midw_spi_fi.precondition.general SYSTEM "../../lib/precondition/lib.midw_smartphoneint_fi.precondition.general.lml">
   <!ENTITY lib.midw_spi_fi.endcondition.general SYSTEM "../../lib/endcondition/lib.midw_smartphoneint_fi.endcondition.general.lml">
   <!ENTITY lib.midw_spi_fi.endcondition.failure SYSTEM "../../lib/endcondition/lib.midw_smartphoneint_fi.endcondition.failure.lml">
]>

<autotest xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www-app.hi.de.bosch.com/hi-cm-datastore/xsd/refsteps.xsd">

   &testsuite_config;

   <import>
      &lib.common;
      &preconditions.general;
      &endconditions.general;
      &endconditions.failure;

      &lib.midw_spi_fi;
      &lib.midw_spi_fiExt;
      &lib.midw_spi_fi.precondition.general;
      &lib.midw_spi_fi.endcondition.general;
      &lib.midw_spi_fi.endcondition.failure;
   </import>

   <test name="SPI_Test_DeviceConnectionStatusCheck" repetition="1">
      <onfailure name="onFailure">
         <refstep>midw_smartphoneint_fi.endcondition.failure</refstep>
      </onfailure>

      <onendoftest name="onEndOfTest">
         <refstep>midw_smartphoneint_fi.endcondition.general</refstep>
      </onendoftest>

      <testflow>
         <refstep>midw_smartphoneint_fi.precondition.general</refstep>

         <!-- Get the Device Handle -->
         <refstep>midw_smartphoneint_fi.GetDeviceInfoList</refstep>
         <paramsetstep params="SelectDevice.DeviceHandle=*{GetDeviceInfoList.response}['DeviceInfoList'][0]['u32DeviceHandle']"/>
         <logstep>Device Handle = ${SelectDevice.DeviceHandle}</logstep>

         <!-- Set Device ConnectionType to USB_CONNECTED -->
         <paramsetstep params="SelectDevice.DeviceConnectionType=*{midw_smartphoneint_fi.T_e8_DeviceConnectionType}['USB_CONNECTED']"/>
         <logstep>Device ConnectionType = ${SelectDevice.DeviceConnectionType}</logstep>

         <!-- Set Device ConnectionReq to DEV_CONNECT -->
         <paramsetstep params="SelectDevice.DeviceConnectionReq=*{midw_smartphoneint_fi.T_e8_DeviceConnectionReq}['DEV_CONNECT']"/>
         <logstep>Device ConnectionReq = ${SelectDevice.DeviceConnectionReq}</logstep>

         <!-- Set DAPUsage to USAGE_DISABLED -->
         <paramsetstep params="SelectDevice.DAPUsage=*{midw_smartphoneint_fi.T_e8_EnabledInfo}['USAGE_DISABLED']"/>
         <logstep>DAPUsage = ${SelectDevice.DAPUsage}</logstep>

         <!-- Set CDBUsage to USAGE_DISABLED -->
         <paramsetstep params="SelectDevice.CDBUsage=*{midw_smartphoneint_fi.T_e8_EnabledInfo}['USAGE_DISABLED']"/>
         <logstep>CDBUsage = ${SelectDevice.CDBUsage}</logstep>

         <refstep>midw_smartphoneint_fi.SelectDevice</refstep>
         <logstep>SelectDevice Response = ${SelectDevice.response}</logstep>

         <refstep params="SelectDevice.DeviceConnectionStatus=*{midw_smartphoneint_fi.T_e8_DeviceConnectionStatus}['DEV_CONNECTED']">
            midw_smartphoneint_fi.SelectDevice
         </refstep>

         <paramverifystep name= "DeviceConnectionStatusCheck Response">
            <eval>*{SelectDevice.response}['ResponseCode']==*{midw_smartphoneint_fi.T_e8_ResponseCode}['SUCCESS'] and *{SelectDevice.response}['ErrorCode']==*{midw_smartphoneint_fi.T_e8_ErrorType}['NO_ERROR']</eval>

            <onsuccess>
               <logstep>Response: ${SelectDevice.response}</logstep>
               <logstep>ConnectionType = ${SelectDevice.response}['DeviceConnectionType']</logstep>
            </onsuccess>

            <onfailure>
               <logstep>No devices is selected</logstep>
            </onfailure>
         </paramverifystep>

      </testflow>
   </test>
</autotest>
