<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE autotest [
   <!ENTITY testsuite_config      SYSTEM "../../config/testsuite_config_L3.xml">

   <!ENTITY lib.common            SYSTEM "../../../../../../../../../ai_sw_test/testsuites/BVT/lib/common/common.lml">
   <!ENTITY preconditions.general SYSTEM "../../../../../../../../../ai_sw_test/testsuites/BVT/lib/preconditions/preconditions.general.lml">
   <!ENTITY endconditions.general SYSTEM "../../../../../../../../../ai_sw_test/testsuites/BVT/lib/endconditions/endconditions.general.lml">
   <!ENTITY endconditions.failure SYSTEM "../../../../../../../../../ai_sw_test/testsuites/BVT/lib/endconditions/endconditions.failure.lml">

   <!ENTITY lib.midw_spi_fi SYSTEM    "../../lib/lib.midw_smartphoneint_fi.lml">
   <!ENTITY lib.midw_spi_fiExt SYSTEM "../../lib/lib.midw_smartphoneint_fiExt.lml">
   <!ENTITY lib.midw_spi_fi.precondition.general SYSTEM "../../lib/precondition/lib.midw_smartphoneint_fi.precondition.general.lml">
   <!ENTITY lib.midw_spi_fi.endcondition.general SYSTEM "../../lib/endcondition/lib.midw_smartphoneint_fi.endcondition.general.lml">
   <!ENTITY lib.midw_spi_fi.endcondition.failure SYSTEM "../../lib/endcondition/lib.midw_smartphoneint_fi.endcondition.failure.lml">
]>

<autotest xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www-app.hi.de.bosch.com/hi-cm-datastore/xsd/refsteps.xsd">

   &testsuite_config;

   <import>
      &lib.common;
      &preconditions.general;
      &endconditions.general;
      &endconditions.failure;

      &lib.midw_spi_fi;
      &lib.midw_spi_fiExt;
      &lib.midw_spi_fi.precondition.general;
      &lib.midw_spi_fi.endcondition.general;
      &lib.midw_spi_fi.endcondition.failure;
   </import>

   <test name="SPI_Test_IconMimeType" repetition="1">
      <onfailure name="onFailure">
         <refstep>midw_smartphoneint_fi.endcondition.failure</refstep>
      </onfailure>

      <onendoftest name="onEndOfTest">
         <refstep>midw_smartphoneint_fi.endcondition.general</refstep>
      </onendoftest>

      <testflow>
         <refstep>midw_smartphoneint_fi.precondition.general</refstep>

         <!-- Get the Device Handle -->
         <refstep>midw_smartphoneint_fi.GetDeviceInfoList</refstep>
         <paramsetstep params="GetAppList.DeviceHandle=*{GetDeviceInfoList.response}['DeviceInfoList'][0]['u32DeviceHandle']"/>
         <logstep>Device Handle = ${GetAppList.DeviceHandle}</logstep>

         <!-- Get Applist  -->
         <refstep>midw_smartphoneint_fi.GetAppList</refstep>
         <logstep>Response: ${GetAppList.response}</logstep>

         <paramsetstep params="GetAppIconData.AppIconURL=*{GetAppList.response}['AppDetailsList'][0]['AppIconList'][0]['szIconURL']"/>

         <!-- Get AppIconData  -->
         <refstep>midw_smartphoneint_fi.GetAppIconData</refstep>
         <logstep>Response: ${GetAppIconData.response}['IconMimeType']</logstep>

      </testflow>
   </test>
</autotest>
