<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE autotest [
   <!ENTITY testsuite_config      SYSTEM "../../config/testsuite_config_L3.xml">

   <!ENTITY lib.common            SYSTEM "../../../../../../../../../ai_sw_test/testsuites/BVT/lib/common/common.lml">
   <!ENTITY preconditions.general SYSTEM "../../../../../../../../../ai_sw_test/testsuites/BVT/lib/preconditions/preconditions.general.lml">
   <!ENTITY endconditions.general SYSTEM "../../../../../../../../../ai_sw_test/testsuites/BVT/lib/endconditions/endconditions.general.lml">
   <!ENTITY endconditions.failure SYSTEM "../../../../../../../../../ai_sw_test/testsuites/BVT/lib/endconditions/endconditions.failure.lml">

   <!ENTITY lib.midw_spi_fi SYSTEM    "../../lib/lib.midw_smartphoneint_fi.lml">
   <!ENTITY lib.midw_spi_fiExt SYSTEM "../../lib/lib.midw_smartphoneint_fiExt.lml">
   <!ENTITY lib.midw_spi_fi.precondition.general SYSTEM "../../lib/precondition/lib.midw_smartphoneint_fi.precondition.general.lml">
   <!ENTITY lib.midw_spi_fi.endcondition.general SYSTEM "../../lib/endcondition/lib.midw_smartphoneint_fi.endcondition.general.lml">
   <!ENTITY lib.midw_spi_fi.endcondition.failure SYSTEM "../../lib/endcondition/lib.midw_smartphoneint_fi.endcondition.failure.lml">
]>

<autotest xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www-app.hi.de.bosch.com/hi-cm-datastore/xsd/refsteps.xsd">

   &testsuite_config;

   <import>
      &lib.common;
      &preconditions.general;
      &endconditions.general;
      &endconditions.failure;

      &lib.midw_spi_fi;
      &lib.midw_spi_fiExt;
      &lib.midw_spi_fi.precondition.general;
      &lib.midw_spi_fi.endcondition.general;
      &lib.midw_spi_fi.endcondition.failure;
   </import>

   <thisdocument>
      <shortdescription>Library for preconditions</shortdescription>
      <author>Avinash Jaiswal (RBEI/ECT3)</author>
      <project>G3g</project>
      <date>14.11.2013</date>
      <keyword>Library</keyword>
      <version majorversion="0" minorversion="1" patchversion="0"/>
      <documentmanagement></documentmanagement>
   </thisdocument>

   <test name="SPI_Test_DeviceCategoryCheck" repetition="1">
      <onfailure name="onFailure">
         <refstep>midw_smartphoneint_fi.endcondition.failure</refstep>
      </onfailure>

      <onendoftest name="onEndOfTest">
         <refstep>midw_smartphoneint_fi.endcondition.general</refstep>
      </onendoftest>

      <testflow>
         <refstep>midw_smartphoneint_fi.precondition.general</refstep>

         <!-- Get the Device Handle -->
         <refstep>midw_smartphoneint_fi.GetDeviceInfoList</refstep>
         <paramsetstep params="GetDeviceUsagePreference.DeviceHandle=*{GetDeviceInfoList.response}['DeviceInfoList'][0]['u32DeviceHandle']"/>
         <logstep>Device Handle = ${GetDeviceUsagePreference.DeviceHandle}</logstep>

         <!-- Set Device Category to DEV_TYPE_MIRRORLINK -->
         <paramsetstep params="GetDeviceUsagePreference.DeviceCategory=*{midw_smartphoneint_fi.T_e8_DeviceCategory}['DEV_TYPE_MIRRORLINK']"/>
         <logstep>Device Category = ${GetDeviceUsagePreference.DeviceCategory}</logstep>

         <!-- Get DeviceUsagePreference -->
         <refstep params="GetDeviceUsagePreference.DeviceCategory=*{midw_smartphoneint_fi.T_e8_DeviceCategory}['DEV_TYPE_MIRRORLINK']">
            midw_smartphoneint_fi.GetDeviceUsagePreference
         </refstep>

         <paramverifystep name="DeviceCategoryCheck Response">
            <eval>(*{GetDeviceUsagePreference.response}['EnabledInfo'] == 'USAGE_ENABLED')</eval>
            <onsuccess>
               <logstep>Response: ${GetDeviceUsagePreference.response}['DeviceCategory']</logstep>
            </onsuccess>

            <onfailure>
               <logstep outputformat="error">Usage disabled
               Please assure that the MirrorLink smartphone is connected and the projection screen is displaying the apps icons
               </logstep> 
            </onfailure>
         </paramverifystep>

      </testflow>
   </test>
</autotest>
