<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE autotest [
   <!ENTITY testsuite_config      SYSTEM "../../config/testsuite_config_L3.xml">

   <!ENTITY lib.common            SYSTEM "../../../../../../../../../ai_sw_test/testsuites/BVT/lib/common/common.lml">
   <!ENTITY preconditions.general SYSTEM "../../../../../../../../../ai_sw_test/testsuites/BVT/lib/preconditions/preconditions.general.lml">
   <!ENTITY endconditions.general SYSTEM "../../../../../../../../../ai_sw_test/testsuites/BVT/lib/endconditions/endconditions.general.lml">
   <!ENTITY endconditions.failure SYSTEM "../../../../../../../../../ai_sw_test/testsuites/BVT/lib/endconditions/endconditions.failure.lml">

   <!ENTITY lib.midw_spi_fi SYSTEM    "../../lib/lib.midw_smartphoneint_fi.lml">
   <!ENTITY lib.midw_spi_fiExt SYSTEM "../../lib/lib.midw_smartphoneint_fiExt.lml">
   <!ENTITY lib.midw_spi_fi.precondition.general SYSTEM "../../lib/precondition/lib.midw_smartphoneint_fi.precondition.general.lml">
   <!ENTITY lib.midw_spi_fi.endcondition.general SYSTEM "../../lib/endcondition/lib.midw_smartphoneint_fi.endcondition.general.lml">
   <!ENTITY lib.midw_spi_fi.endcondition.failure SYSTEM "../../lib/endcondition/lib.midw_smartphoneint_fi.endcondition.failure.lml">
]>

<autotest xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www-app.hi.de.bosch.com/hi-cm-datastore/xsd/refsteps.xsd">

   &testsuite_config;

   <import>
      &lib.common;
      &preconditions.general;
      &endconditions.general;
      &endconditions.failure;

      &lib.midw_spi_fi;
      &lib.midw_spi_fiExt;
      &lib.midw_spi_fi.precondition.general;
      &lib.midw_spi_fi.endcondition.general;
      &lib.midw_spi_fi.endcondition.failure;
   </import>

   <test name="SPI_Test_GetVideoSettings" repetition="1">
      <onfailure name="onFailure">
         <refstep>midw_smartphoneint_fi.endcondition.failure</refstep>
      </onfailure>

      <onendoftest name="onEndOfTest">
         <refstep>midw_smartphoneint_fi.endcondition.general</refstep>
      </onendoftest>

      <testflow>
         <refstep>midw_smartphoneint_fi.precondition.general</refstep>

         <!-- Get the Device Handle  -->
         <refstep>midw_smartphoneint_fi.GetDeviceInfoList</refstep>
         <paramsetstep params="GetVideoSettings.DeviceHandle=*{GetDeviceInfoList.response}['DeviceInfoList'][0]['u32DeviceHandle']"/>
         <logstep>Device Handle = ${GetVideoSettings.DeviceHandle}</logstep>

         <!-- Get video settings -->
         <refstep>midw_smartphoneint_fi.GetVideoSettings</refstep>
         <logstep>GetVideoSettings Response = ${GetVideoSettings.response}</logstep>
         <paramverifystep name="Is the ErrorCode==NO_ERROR and ResponseCode==SUCCESS?">
            <eval>(*{GetVideoSettings.response}['DeviceHandle'] == *{GetVideoSettings.DeviceHandle})</eval>
            <onsuccess>
               <logstep>Response: ${GetVideoSettings.response}</logstep>
               <logstep>Name of the Device = ${GetVideoSettings.response}['DeviceHandle']</logstep>
               <logstep>orientation mode = ${GetVideoSettings.response}['VideoAttributes']['enOrientationMode'] </logstep>

               <logstep>screen height = ${GetVideoSettings.response}['VideoAttributes']['rScreenAttributes']['u16ScreenHeight']</logstep>

               <logstep>screen width = ${GetVideoSettings.response}['VideoAttributes']['rScreenAttributes']['u16ScreenWidth']</logstep>
               <logstep>screen aspect_ratio = ${GetVideoSettings.response}['VideoAttributes']['rScreenAttributes']['enScreenAspectRatio']</logstep>
               <logstep>GetVideoSettings Service Request SUCCESSFUL</logstep>
            </onsuccess>

            <onfailure continue="nextstep">
               <logstep>No Video settings</logstep>
            </onfailure>
         </paramverifystep>

      </testflow>
   </test>
</autotest>
